@model Models.Models.BlogComment

<div class="replayShift">
        <span> @Html.DisplayFor(model => model.Commentar)</span>

        @{var BlogCommId = Model.Id; }

        <div id=@BlogCommId class="collapse row">
            @using (Html.BeginForm("CreateReplayComment", "Blog", FormMethod.Post))
            {                
                <div class="col-6">
                    @Html.TextArea("ReplyComment", null, new { @class = "form-control" })
                    @Html.TextAreaFor(input => BlogCommId, new { style = "display:none;" })
                </div>
                <div class="col-6">
                    @Html.TextAreaFor(blog => blog.Id, new { style = "display:none;" })
                </div>

                <input type="submit" value="Enter comment" />
            }
        </div>
        @foreach (var comment in Model.ReplayComment)
        {
            @Html.Partial("_ReplayComment", comment)
        }
    
</div>
