@model Model.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Blog/BlogDetails.css" rel="stylesheet" />
<h2>Details</h2>

<div class="detailsHeader">    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd class="problemClass">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>

<div class="detailsTablePosition">
    <div>
        @using (Html.BeginForm("CreateComment", "Blog", FormMethod.Get))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.BlogComments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 texAreaDimensions">
                    @Html.TextAreaFor(x => x.Id, new { style = "display:none;" })
                    @Html.TextBox("commentText", "", new { style = "max-width:600px; width:583px;height:50px" })

                </div>
                <div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Comment" class="btn btn-default inputPosition" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    
    
            @*odgovori bloga*@

    <table class="table">
        <tr>
            <th>
                @Html.Label("Comment")
            </th>
            <th>
                @Html.Label("Author")
            </th>
            <th>
                @Html.Label("Date")
            </th>
            <th>
                @Html.Label("Raiting")
            </th>
            <th>
                @Html.Label("")
            </th>

        </tr>           
            @foreach (var BlogComment in Model.BlogComments)
            {
               
                <tr>
                    @{
                        if (BlogComment.ParentCommentId == null)
                        {

                            <td>
                                @Html.LabelForModel(BlogComment.Commentar)

                                @{var BlogCommId = BlogComment.Id; }


                                <div id=@BlogComment.Id class="collapse">
                                    @using (Html.BeginForm("CreateReplayComment", "Blog", FormMethod.Post))
                                    {
                                        @Html.TextArea("ReplyComment", null, new { @class = "form-control" })
                                        @Html.TextAreaFor(b => BlogCommId, new { style = "display:none;" })
                                        @Html.TextAreaFor(blog => blog.Id, new { style = "display:none;" })
                                        <input type="submit" value="Enter comment" />
                                    }
                                </div>
                                @foreach (var x in BlogComment.ReplayComment)
                                {

                                    <li>@x.Commentar</li>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("AuthorCommentDetails", "Author", new { blog = BlogComment.IdAuthor })">  @Html.LabelForModel(BlogComment.AuthorName)</a>   
                            </td>
                                
                            <td>
                                @Html.Label(BlogComment.Date.ToString())
                            </td>
                            <td>
                                @Html.Label(BlogComment.Raiting.ToString())
                                <a href="@Url.Action("VoteUp", "Blog", new { IdCommentar = BlogComment.Id, blogId = BlogComment.BlogId })">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                                <a href="@Url.Action("VoteDown", "Blog", new { IdCommentar = BlogComment.Id })">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="@("#" + BlogComment.Id)">
                                    Replay
                                </button>
                            </td>
                                    }
                           
                    }
                    @*@foreach (var x in BlogComment.ReplayComment)
                    {
                        <ul>
                            <li>@x.Commentar</li>
                        </ul>
                    }*@
                </tr>


              }
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@Scripts.Render("~/bundles/jquery")
<script src="~/Content/BlogJs/BlogCommentReplay.js"></script>
