@model Model.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="detailsHeader">    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd class="problemClass">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>

<div class="detailsTablePosition">
    <div>
        @using (Html.BeginForm("CreateComment", "Blog", FormMethod.Get, new { id = Model.Id }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.BlogComments, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 texAreaDimensions">
                    @Html.TextAreaFor(x => x.Id, new { style = "display:none;" })
                    @Html.TextBox("commentText", "", new { style = "max-width:600px; width:583px;height:50px" })

                </div>
                <div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Comment" class="btn btn-default inputPosition" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.Label("Comment")
            </th>
            <th>
                @Html.Label("Author")
            </th>
            <th>
                @Html.Label("Date")
            </th>
            <th>
                @Html.Label("Raiting")
            </th>
            <th>
                @Html.Label("Replay")
            </th>

        </tr>

        <ul class="list-group commentsArea">
            @foreach (var x in Model.BlogComments)
            {
                <tr>
                    <td>
                        @Html.LabelForModel(x.Commentar)
                    </td>
                    <td>                       
                        <a href="@Url.Action("AuthorCommentDetails", "Author",new { id = x.IdAuthor})">  @Html.LabelForModel(x.AuthorName)</a>        
                                      
                    </td>
                    <td>                       
                        @Html.Label(x.Date.ToString())                  
                       
                    </td>
                    <td>
                        @Html.Label(x.Raiting.ToString())                        
                        <a href="@Url.Action("VoteUp", "Blog",new { IdCommentar = x.Id, blogId = x.BlogId })">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <a href="@Url.Action("VoteDown", "Blog",new { IdCommentar = x.Id })">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>                           
                     </td>
                </tr>
            }
        </ul>
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>