@model IEnumerable<Model.Models.Blog>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link type="text/css" href="~/Content/Author/author_dashboard.css" rel="stylesheet" />


<div class="imgBackground secondHeader" >
    <div>

    </div>
    <h2 id="Dashboard">Dashboard of @ViewBag.name</h2>
    <h2 class="information">Number of replays:@ViewBag.numOfReplays</h2>
    <img src="@Url.Action("ShowUser", "User" )" class="img-thumbnail" height="150" width="150" /> 
    
</div>


<div>
    @Html.ActionLink("Make a question", "CreateBlog", "Blog", new { area = "" }, new { @class = "navbar-brand" })
</div>



<br />

<table class="table tableBackground">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Titile)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>Detail of author</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Titile)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>              
                @Html.ActionLink("Details", "Details", new { id = item.AuthorId })              
            </td>
        </tr>
    }

</table>

<br />
<br />